:root {
    --cor-azul-escuro: #00678a;
    --cor-azul: #02a0c6;
    --cor-laranja: #ff914d;
    --cor-fundo: #fff9ed;
    --fonte-padrao: 'Poppins', sans-serif;
  }

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-padrao);
}